html, body, #app {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Lato, 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2c2b3f;
}

#app {
  background-color: #efeeed;
  display: flex;
  flex-direction: column;
}

img {
  vertical-align: top;
}

* {
  box-sizing: border-box;
}

// firefox fix 'shaking font inside button'
input[type=button], button {
  padding: 0;
}
